body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBar-container {
    display: flex;
    flex-direction: column; /* Chia theo chiều dọc */
    height: 100vh;
    background-color: #6b9fef;
    border-right: 2px solid #ccc;
}

.user {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.roomList {
    flex: 18;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
